services:
  auditoria:
    build: .
    ports:
      - "3001:80"
    depends_on:
      - api
    restart: unless-stopped

  api:
    build: ./server
    volumes:
      - uploads_data:/app/uploads
    restart: unless-stopped

volumes:
  uploads_data:
